@font-face {
    font-family: "Apercu Light";
    src: url(./font/Apercu-Light.otf) format('otf');
}

body {
    font-family: "Apercu Light";
}

#ad {
    width: 336px;
    height: 280px;
    background-color: #F2F4F6;
    border: 1px black solid;
}

#weather {
    
}

#logo img {
    max-width: 40%;
}